.category {
  display: flex;
  align-items: center;
  /* justify-content: space-evenly; */
  width: 120px;
}

.cat__container {
  width: 100vw;
  height: 5vh;
  background-color: aquamarine;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
